<div id="events">
  <table class="table table-striped table-hover table-condensed table-responsive">
    <tr>
      <th>カレンダー</th>
      <th>予定</th>
      <th>開始日付</th>
      <th>開始時刻</th>
      <th>終了日付</th>
      <th>終了時刻</th>
      <th>予定が更新されたのは</th>
    </tr>
    <% @events.each do |event| %>
      <% if event.status == "cancelled" %>
      <tr class="danger">
      <% else %>
      <tr>
      <% end %>
        <th><%= event.calendar.calendar %></th>
        <th>
          <% if event.status == "cancelled" %>
            [Cancelled] <%= event.event %>
        <% else %>
          <a href="<%= event.link %>" target="_blank"><%= event.event %></a>
        <% end %>
      </th>
      <th><%= date_for(event.start) %></th>
      <th><%= time_for(event.start) %></th>
      <th><%= date_for(event.end) %></th>
      <th><%= time_for(event.end) %></th>
      <th><%= datetime_for(event.event_updated) %></th>
    </tr>
    <% end %>
  </table>

  <%= will_paginate @events, renderer: WillPaginate::ViewHelpers::BoostrapLinkRenderer %>

</div>
